* {
    box-sizing: border-box;
}

#Rock {
  color: white;
}
.menu li:hover {
    background-color: #0099cc;
}

/* main title Quiet Pixel art by Johnny*/
#colorpallette, #jc {
  color: blue;
  font-family: fantasy;
}
/* main grid art*/
#art {
  display: table;
  table-layout: auto;
  width: 1400px;
  border-spacing: 1px;
  background-color: DarkGray;
  background: grey;

}

/* square art*/
.square {
  display: table-cell;
  background-color: white;
  width: 20px;
  height: 20px;

}
/* this is the space bettween the grid and the color pallete*/
#space{
  margin-top: 10px;
  border: 2px solid white;
}
/* this are the squares for the color picker*/
.pen {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid black;
}

#btnClear {

  top: 300px;
  left: 195px;
	height:80px;
	width:80px;
}

#brush {
  width: 80px;
  height: 80px;
}

#Clearbtn {
color: red;
font-family: fantasy;
height: 20px;
width: auto;
border-radius: 15% solid black;
font-size: 50px;
padding: 50px;



}
